In [1]:
#initialisons des ensembles. on peut utiliser les listes
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [2]:
s4 = {"apple","orange","banana"}
print(s4)

{'banana', 'orange', 'apple'}

In [3]:
s4.add('pineapple')
print(s4)

{'banana', 'orange', 'apple', 'pineapple'}

In [4]:
#les opérations sur les ensembles
s5 = {1,2,3,4}
s6 = {3,4,5,6}
#pour l'operation union on utilise '|' ou la methode union
print(s5 | s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [5]:
#pour l'intersection on utilise & ou la methode intersection
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

In [6]:
#pour l'operation difference on utilise '-' ou la methode difference
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

In [8]:
#pour vérifier si un ensemble est un sous-ensemble d'un ensemble on utilise '<=' ou la methode issubset
s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s5 <= s6)
print(s5.issubset(s6))
print(s7 <= s8)
print(s7.issubset(s8))

False
False
True
True